<table id="datatablesSimple">
    <thead>
        <tr>
            <th>Operador</th>
            <th>Setor</th>
            <th>Maquina</th>
            <th>Turno</th>
            <th>Horário</th>
            <th>Lider</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Operador</th>
            <th>Setor</th>
            <th>Maquina</th>
            <th>Turno</th>
            <th>Horário</th>
            <th>Lider</th>
        </tr>
    </tfoot>
    <tbody>
        <tr>
            <td>Pedro Chaves</td>
            <td>Orbitais</td>
            <td>Maquina 15</td>
            <td>Tarde</td>
            <td>14:05</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Marcos</td>
            <td>Orbitais</td>
            <td>Maquina 235</td>
            <td>Manhã</td>
            <td>09:00</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Renato</td>
            <td>Orbitais</td>
            <td>Maquina 15</td>
            <td>Tarde</td>
            <td>14:05</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Marcos</td>
            <td>Orbitais</td>
            <td>Maquina 235</td>
            <td>Manhã</td>
            <td>09:00</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Renato</td>
            <td>Orbitais</td>
            <td>Maquina 15</td>
            <td>Tarde</td>
            <td>14:05</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Marcos</td>
            <td>Orbitais</td>
            <td>Maquina 235</td>
            <td>Manhã</td>
            <td>09:00</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Renato</td>
            <td>Orbitais</td>
            <td>Maquina 15</td>
            <td>Tarde</td>
            <td>14:05</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Marcos</td>
            <td>Orbitais</td>
            <td>Maquina 235</td>
            <td>Manhã</td>
            <td>09:00</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Renato</td>
            <td>Orbitais</td>
            <td>Maquina 15</td>
            <td>Tarde</td>
            <td>14:05</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Marcos</td>
            <td>Orbitais</td>
            <td>Maquina 235</td>
            <td>Manhã</td>
            <td>09:00</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Renato</td>
            <td>Orbitais</td>
            <td>Maquina 15</td>
            <td>Tarde</td>
            <td>14:05</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Marcos</td>
            <td>Orbitais</td>
            <td>Maquina 235</td>
            <td>Manhã</td>
            <td>09:00</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Renato</td>
            <td>Orbitais</td>
            <td>Maquina 15</td>
            <td>Tarde</td>
            <td>14:05</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Marcos</td>
            <td>Orbitais</td>
            <td>Maquina 235</td>
            <td>Manhã</td>
            <td>09:00</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Marcos</td>
            <td>Orbitais</td>
            <td>Maquina 235</td>
            <td>Manhã</td>
            <td>09:00</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Renato</td>
            <td>Orbitais</td>
            <td>Maquina 15</td>
            <td>Tarde</td>
            <td>14:05</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Marcos</td>
            <td>Orbitais</td>
            <td>Maquina 235</td>
            <td>Manhã</td>
            <td>09:00</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Renato</td>
            <td>Orbitais</td>
            <td>Maquina 15</td>
            <td>Tarde</td>
            <td>14:05</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Marcos</td>
            <td>Orbitais</td>
            <td>Maquina 235</td>
            <td>Manhã</td>
            <td>09:00</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Renato</td>
            <td>Orbitais</td>
            <td>Maquina 15</td>
            <td>Tarde</td>
            <td>14:05</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Marcos</td>
            <td>Orbitais</td>
            <td>Maquina 235</td>
            <td>Manhã</td>
            <td>09:00</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Renato</td>
            <td>Orbitais</td>
            <td>Maquina 15</td>
            <td>Tarde</td>
            <td>14:05</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Marcos</td>
            <td>Orbitais</td>
            <td>Maquina 235</td>
            <td>Manhã</td>
            <td>09:00</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Renato</td>
            <td>Orbitais</td>
            <td>Maquina 15</td>
            <td>Tarde</td>
            <td>14:05</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Marcos</td>
            <td>Orbitais</td>
            <td>Maquina 235</td>
            <td>Manhã</td>
            <td>09:00</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Marcos</td>
            <td>Orbitais</td>
            <td>Maquina 235</td>
            <td>Manhã</td>
            <td>09:00</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Renato</td>
            <td>Orbitais</td>
            <td>Maquina 15</td>
            <td>Tarde</td>
            <td>14:05</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Marcos</td>
            <td>Orbitais</td>
            <td>Maquina 235</td>
            <td>Manhã</td>
            <td>09:00</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Renato</td>
            <td>Orbitais</td>
            <td>Maquina 15</td>
            <td>Tarde</td>
            <td>14:05</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Marcos</td>
            <td>Longa</td>
            <td>Maquina 235</td>
            <td>Manhã</td>
            <td>09:00</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Renato</td>
            <td>Orbitais</td>
            <td>Maquina 15</td>
            <td>Tarde</td>
            <td>14:05</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Marcos</td>
            <td>Longa</td>
            <td>Maquina 235</td>
            <td>Manhã</td>
            <td>09:00</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Fernando</td>
            <td>Orbitais</td>
            <td>Maquina 15</td>
            <td>Tarde</td>
            <td>16:05</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Marcos</td>
            <td>Longa</td>
            <td>Maquina 235</td>
            <td>Manhã</td>
            <td>09:00</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Renato</td>
            <td>Orbitais</td>
            <td>Maquina 15</td>
            <td>Tarde</td>
            <td>14:05</td>
            <td>Leandro</td>
        </tr>
        <tr>
            <td>Marcos</td>
            <td>Longa</td>
            <td>Maquina 235</td>
            <td>Manhã</td>
            <td>09:00</td>
            <td>Leandro</td>
        </tr>
    </tbody>
</table>